* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.p {
    color: black;
    padding: 2px;
}

.p2 {
    color: rgba(177, 121, 100, 0.74);
    margin-top: 10px;
}

p {
    padding: 2px;
}

.resaltado-h1 {
    color: red;
    border: 1px solid black;
}

.titulo1 {
    color: aqua;
    font-size: 28px;
   }

.titulo2 {
    color: blue;
  }

h4 {
    color: rgba(10, 10, 212, 0.767);
}
.span2 {
    color: fuchsia;
    border: 1px solid gray;
   
}

u {
    color: brown;
    border: 1px solid burlywood;
}

em {
    color: rgba(10, 10, 212, 0.767);
}

.resaltado-p2 {
    color: blueviolet;
    border: 1px solid aquamarine;
}

.contenedor {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px auto;
    align-content: center;
    text-align: justify;
    font-size: 15px;
    border: 1px solid;
}

.u {
    color: green;
    border: 1px solid mediumorchid;
}

section {
    margin-bottom: 5px;
    text-align: justify;
}

table th,
td {
    margin: 0;
    border: 1px solid;
    padding: 3px;
    align-content: center;

}

.resaltadov {
    color: rgb(8, 187, 8);
}
.resaltadoa {

    color: rgba(185, 185, 9, 0.74);
    
}
.resaltador {
    color: red;
}
.resaltadob {
    border-color: darkgray;
    }

.titulo1 {
    margin-bottom: 10px;
 }

 div {
     border: 1px solid;
 }

 .div2 {
    color: orange;
 }
 .borde {
     border: 1px solid cadetblue;
     color: chartreuse;
 }
 
 i {
     border: 1px solid black;
 }
 .tablat {
     margin: 0;
     border: 1px solid black;
        font-size: 15px;
        width: 307px;
        padding: 2px;
        text-align: center;
        color: blue;

        }